@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    transition: background 1s ease;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Raleway";
    margin: 0;
    background-size: cover;
    background-image: url('https://r4.wallpaperflare.com/wallpaper/105/829/131/ai-art-city-illustration-grand-theft-auto-vice-city-skyline-hd-wallpaper-48418946b80f5e1a20c11aa169df38f0.jpg');
    background-position: center; 
    background-attachment: fixed; /* Mantém o plano de fundo fixo ao rolar */
}

body.fade-out {
    opacity: 0;
}

h1 {
    color: white;
    font-weight: normal;
    margin-top: 4.5rem;
    font-size: 4rem;
    text-shadow: 2px 2px 2px palevioletred, -2px -2px 2px palevioletred, 2px -2px 2px rgb(255, 67, 173), -2px 2px 2px #e1e1e1;
    animation: textAnimation 4s infinite alternate; 
}

.COUNTDOWN {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text {
    font-weight: bold;
    font-size: 6vw; 
    line-height: 0.5;
    margin: 2rem;
    color: rgb(222, 127, 159);
    text-shadow: 2px 2px 2px #fff, -2px -2px 2px #fff, 2px -2px 2px #fff, -2px 2px 2px #fff;
}

.countdown-el, #finally-container {
    color: whitesmoke;
    text-align: center;
    font-size: 24px;
    margin: 20px;
    text-shadow: 2px 2px 2px palevioletred, -2px -2px 2px palevioletred, 2px -2px 2px rgb(223, 92, 142), -2px 2px 2px #ffffff;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.1rem; 
    }

    .text, .countdown-el, #finally-container {
        font-size: 35px; 
    }
}
